/* acabo de descubrir esto de casualidad así que lo aplico :) */
*::selection {
	color: white;
	background-color: rgba(220, 53, 70, .75);
}

body {
	background-color: #fefefe;
}

.carousel-item {
	filter: sepia(10%) brightness(90%);
}

.nosotros {
	background-image: url("img/nosotros.jpg");
	background-size: cover;
	background-position: top center;
	filter: brightness(1);
}
