// ABOUT -------------------------------------------------------------------- //
.about-container {
	min-height: calc(100vh - 9rem);

	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3rem 0;

	.title {
		max-width: 75rem;
		font-size: 3rem;
		margin-bottom: 1.5rem;
	}

	.subtitle {
		@include font(1.5rem, 500, $height: 1.5);

		max-width: 50rem;
	}
}

.supporters-container {
	background: linear-gradient(135deg, $dark-blue, $dark-blue-shadow);
	z-index: 1000;
}

.supporters {
	display: flex;
	align-items: center;
	min-height: 5rem;
	padding: 1rem 0;

	h2 { @include font(1.5rem, 600); }

	img { width: 3rem; }
}

.team-container {
	background: linear-gradient( $lightest-blue 0%, $light-blue 100%);
}

.team {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: $dark-blue-shadow;
	height: 47.5rem;
	max-height: 100vh;

	h2 {
		@include font(4rem, 600);

		margin-bottom: 6rem;
	}

	.team-members {
		display: flex;
		justify-content: space-around;
		width: 100%;

		li {
			flex-direction: column;
			text-align: center;
			font-weight: 600;
			flex-basis: 25%;
		}

		li .member-name { font-size: 1.5rem; }
		li .member-position { color: $light-blue-shadow; }
	}
}

// LG ----------------------------------------------------------------------- //
@media only screen and (max-width: 1201px) {
.team h2 {
	font-size: 3rem;
	margin-bottom: 4rem;
}
}

// MD ----------------------------------------------------------------------- //
@media only screen and (max-width: 993px) {
.supporters {
	align-items: flex-start;
	flex-direction: column;

	h2 { padding-bottom: 1rem; }
}
}

// SM ----------------------------------------------------------------------- //
@media only screen and (max-width: 701px) {
.about {
	.title {
		max-width: 100vw;
		font-size: 2rem;
		word-wrap: break-word;
	}

	.subtitle { font-size: 1.25rem; }
}

.team {
	height: fit-content;
	max-height: none;
	padding-top: 3rem;

	.member-name { margin-bottom: 3rem; }

	.team-members {
		flex-direction: column;

		li { margin-bottom: 3rem; }
		li .member-position { line-height: 1.5;}
	}
}
}