.commands {
  margin-top: 2rem;
	margin-bottom: 6rem;
	display: grid;
	row-gap: 2rem;
	grid-template-columns: repeat(12, 1fr);

	&__categories {
		display: flex;
		flex-direction: column;
		min-width: 12.5rem;
		grid-column: 1 / 4;
	}

	&__categories-list {
		margin-top: 1rem;
		padding: .75rem;
		border-radius: 1rem;
		background-color: $dark-blue-shadow;
	}

	&__category-item {
		border-radius: 0.5rem;

		a {
			display: inline-block;
			min-height: 100%;
			width: 100%;
      padding: .5rem;
			font-weight: 500;
		}

		&:hover { background-color: $dark-blue; }
		&.active { background-color: $light-blue; }
	}

	&__commands-block {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		height: fit-content;
		max-width: 50rem;
		margin-left: 2rem;
		grid-column: 4 / 13;
	}

	&__commands-block h1, &__search { margin-bottom: 1rem; }

	&__commands-list {
		flex-basis: 100%;
		background-color: $dark-blue-shadow;
		border-radius: 1rem;
	}

	&__search {
		display: flex;
		align-items: center;
		justify-content: right;
		max-width: 20vw;

		&-svg { margin-right: 0.75rem; }

		&-bar {
			width: 3.75rem;
			padding: .5rem 1.125rem;

			border: none;
			border-radius: .5rem;
			background-color: $dark-blue-shadow;
			transition: width .25s ease-in-out;

			&:focus { width: 20rem; }
		}
	}

	.command {
		border-radius: .5rem;
		padding: .5rem;
		margin: .75rem;
		background-color: $dark-blue;

		&__description { color: $lightest-blue; }
	}
}

// LG ----------------------------------------------------------------------- //
@media only screen and (max-width: 1201px) {
.commands {
	&__search {
		width: 100%;
		max-width: none;
		flex-grow: 1;

		&-svg { display: none; }
		&-bar, &-bar:focus { width: 100%; }
	}
}
}

// SM ----------------------------------------------------------------------- //
@media only screen and (max-width: 701px) {
.commands {
	.section-header {
		margin: 0;
		border: none;
	}

	h1, h2{
		width: fit-content;
		margin-left: 1rem;
		border-bottom: solid 2px $light-blue;

		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&__categories {
		flex-direction: row;
		flex-wrap: wrap;
    width: 100%;
		min-width: 0;

		grid-column: 1 / 13;
		grid-row: 1 / 2;
	}

	&__categories-list { width: 100%; }

	&__commands-block {
    width: 100%;
		margin: 0;

		grid-column: 1 / 13;
		grid-row: 2 / 3;
	}
}
}
