$li-f-size: 1.25rem;
$li-lh: $li-f-size * 1.5;

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $nav-h;
	flex-grow: 1;

	.nav__logo {
		color: white;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
		}

		svg {
			@include size(2rem);

			margin-right: .5rem;

			@media only screen and (max-width: 300px) { display: none; }
		}
	}

	.nav__logo-text {
		font-size: 1.75rem;
		font-weight: 300;
	}

	.nav__links {
		display: flex;

		li a {
      @include font($li-f-size, 500);
			padding: 0 1.5vw;
		}

		li:last-child a { padding: 0 0 0 .75vw; }
	}
}

// LG ----------------------------------------------------------------------- //
@media only screen and (max-width: 1201px) {
header {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: $dark-blue;
	background-color: $dark-blue-shadow;
	box-shadow: -2px 2px 4px $shadow-color;
}

.navbar {
	.nav__logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.nav__links {
		$links-p: 1rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		position: absolute;
		top: $nav-h;
		left: 0;

		width: 100%;
		padding: $links-p 0;

		line-height: $li-lh;
		background-color: $dark-blue-shadow;
		box-shadow: -2px 2px 4px $shadow-color;

		&.collapsed {
			margin-top: -$nav-h - ($links-p * 2) - ($li-lh * 4);
			top: -100%;
		}

		li a {
			display: inline-block;
			padding: .25rem 0;
		}
	}
}
}
