// NATIVE TAGS -------------------------------------------------------------- //
body {
	@include pm-0;

	color: $light-blue-shadow;
	text-shadow: $ts-dark;
}

body, input, textarea, select {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

h1, h2, h3, h4, h5, h6, img {
	@include pm-0;

	font-weight: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

p {
	@include pm-0;

	line-height: 1.5;

	a { color: $light-blue-shadow; }
}

ul {
	@include pm-0;

	list-style: none;
}

ul a:hover, p a:hover {
	text-decoration: underline;
}

// OTHER -------------------------------------------------------------------- //
.wrapper {
	@include mx-auto;

	width: 75vw;
}

.burger-menu {
	display: none;
	flex-direction: column;
	justify-content: center;

	padding: 1rem;
	margin: 0 -1rem;

	transition: transform .35s;
	-webkit-tap-highlight-color: #00000000;

	&.active { transform: rotateZ(180deg); }

	div {
		width: 1.75rem;
		height: 2px;
		margin: .2rem 0;
		border-radius: 1px;
		background-color: $light-blue-shadow;
	}
}

.top-section-container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	min-height: 100vh;
	margin-top: -$nav-h;
	padding-top: $nav-h;

	background-image: linear-gradient(135deg, $dark-blue, $dark-blue-shadow);

	.wrapper{ flex-grow: 1; }
}

.button {
	@include font(1.25rem, 600, $height: 1.25);

	display: block;
	width: fit-content;
	height: fit-content;
	padding: .75rem 1.5rem;
	border: none;
	border-radius: 100rem;

	text-shadow: $ts-button;
	color: $light-blue-shadow;

	background: linear-gradient(90deg, $lightest-blue, $light-blue);

	&:hover { transform: scale(1.05); }
}

.button-light {
	@extend .button;

	color: $dark-blue-shadow;
	background: $light-blue-shadow;
}

.section-header {
	margin-left: 1rem;
	padding-right: 1rem;
	border-bottom: solid 2px $light-blue;

	font-size: 1.5rem;
	font-weight: 500;
}

.search-bar {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.05rem;
	color: $light-blue-shadow;
}

.title {
	font-weight: 600;
	font-size: 2.5rem;
}

.waves {
	pointer-events: none;
	margin-top: -1px;

  &--light {
    @extend .waves;

    margin-bottom: -1px;
  }
}

// smol classes
.drop-shadow-l { filter: drop-shadow(-2px 2px 4px rgba(12, 22, 29, 0.25)); }
.drop-shadow-r { filter: drop-shadow(2px 2px 4px rgba(12, 22, 29, 0.25)); }
.shadow-l { box-shadow: $shadow-l; }
.shadow-r { box-shadow: $shadow-r; }
.textshadow-light { text-shadow: $ts-light }

.img-radius { border-radius: $container-radius; }
.fw-600 { font-weight: 600; }
.hidden { display: none; }

.disabled {
	pointer-events: none !important;
	color: darkgray;
}


// LG ----------------------------------------------------------------------- //
@media only screen and (max-width: 1201px) {
.wrapper { width: 85vw; }
.burger-menu { display: flex; }
}
